.header {
  text-align: center;
  
}
ul {
  text-align: center;
  font-size: 18px;
}

.header {
  font-size: 36px;
  margin-bottom: 20px;
}

.unsorted-list{
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

ul {
  display: inline-block;
}

li {
  text-align: left;
}

img {
  width: 25%;
  height: 25%;
}

.brand {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Bangers', cursive;
}

.directions, .ingredients {
  text-align: left;
  margin-left: 260px;
  margin-right: 260px;
}

button {
  margin-left: 260px;
  font-size: 18px;
  background-color: rgb(153, 150, 150);
  color: white;
  font-weight: bold;
}